* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alert-box-close {
  padding-right: 0.25rem;
  padding-top: 0.25rem;
  cursor: pointer;
  /* font-size: 17px; */
}

.cursor-pointer {
  cursor: pointer;
}

.alert-icons {
  font-size: 1.05em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.section-title {
  font-size: 2.5rem;
  position: relative;
}
.section-title::before,
.section-title::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid black;
    width: 7rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

.pricing-underline-width::after {
  width: 8rem;
}

.bg-img-center {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 95vh;
}

.main-container {
  width: 95%;
  margin: 0 auto;
}

.pricing-card-img {
  width: 80%;
  height: 80%;
  margin: 0.5rem auto;
}

.feature-card-img {
  width: 25%;
  height: 25%;
  margin: 1.5rem auto;
}

.purchase-button, .purchase-button:hover, .purchase-button:focus {
  background-color: #06103a;
  border-color: #06103a;
  color: white;
  box-shadow: none;
}



/* .landing-page-sections {
  margin-block: 10rem;
} */

.carousel-slide-dark-bg {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content .title {
  font-size: 4rem;
  text-shadow: 0 0 0.5rem rgba(207, 207, 207, 0.75);
  letter-spacing: 0.05ch;
}

.content .subtitle {
  font-size: 2.75rem;
  text-shadow: 0 0 0.5rem rgba(207, 207, 207, 0.5);
}

@media all and (max-width: 576px) {
  .content {
    transform: translateY(50%);
  }
  /* .inventory-toggle-button label {
    width: 80%;
  } */
}

.search-bar {
  color: #707070;
  font-family: PoppinsRegular, sans-serif;
}

.search-bar:focus {
  box-shadow: none;
  color: #707070;
}

.alert-top-position {
  top: 10%;
}

.google-icon-cover {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

/* for all the buttons */

.btn, .btn:hover, .btn:focus, .navbar-toggler {
  /* background-color: #1E91AE;
    border-color: #1E91AE; */
  border: none !important;
  box-shadow: none !important;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 PoppinsRegular;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
